In [1]:
import pandas as pd

In [2]:
birth_data = pd.read_csv('../data/birth_data_final.csv')

In [3]:
birth_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35567409 entries, 0 to 35567408
Data columns (total 16 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Place                   int64
 1   Mother_Age              int64
 2   Race                    float64
 3   Edu_level               int64
 4   Induction               object
 5   Augmented               object
 6   Delivery_Type           int64
 7   Maternal_Transfusion    object
 8   Perineal_Tear           object
 9   Uterin_Rupture          object
 10  unplanned_hysterectomy  object
 11  ICU_Admission           object
 12  attend                  int64
 13  Payment_Type            int64
 14  5_min_APGAR             int64
 15  Year                    int64
dtypes: float64(1), int64(8), object(7)
memory usage: 4.2+ GB

birth_data[['Augmented', 'Maternal_Transfusion', 'Perineal_Tear', 'Uterin_Rupture', 'unplanned_hysterectomy', 'ICU_Admission']] = birth_data[['Augmented', 'Maternal_Transfusion', 'Perineal_Tear', 'Uterin_Rupture', 'unplanned_hysterectomy', 'ICU_Admission']].astype(bool)

birth_data.info()

In [5]:
birth_data['Augmented'].value_counts()

N    28076659
Y     7449080
U       41670
Name: Augmented, dtype: int64

birth_data['trial'] = birth_data[['Augmented', 'Maternal_Transfusion', 'Perineal_Tear', 'Uterin_Rupture', 'unplanned_hysterectomy', 'ICU_Admission']].any(bool_only=None)

In [7]:
birth_data

,Place,Mother_Age,Race,Edu_level,Induction,Augmented,Delivery_Type,Maternal_Transfusion,Perineal_Tear,Uterin_Rupture,unplanned_hysterectomy,ICU_Admission,attend,Payment_Type,5_min_APGAR,Year,trial
0,1,5,4.0,7,N,N,1,N,N,N,N,N,1,2,9,2010,NaN
1,1,3,1.0,3,Y,N,1,N,N,N,N,N,1,3,9,2010,NaN
2,1,4,1.0,5,N,N,1,N,N,N,N,N,1,1,9,2010,NaN
3,1,5,1.0,4,Y,N,1,N,N,N,N,N,1,2,10,2010,NaN
4,1,4,1.0,7,N,N,1,N,N,N,N,N,1,2,9,2010,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35567404,2,4,2.0,4,N,N,1,N,N,N,N,N,3,1,8,2020,NaN
35567405,1,5,1.0,3,N,N,2,N,N,N,N,N,1,1,7,2020,NaN
35567406,1,5,2.0,9,N,N,2,N,N,N,N,N,1,1,9,2020,NaN
35567407,1,5,2.0,9,N,N,2,N,N,N,N,N,1,1,9,2020,NaN
35567408,2,5,1.0,5,N,N,1,N,N,N,N,N,3,1,9,2020,NaN